@if (!printExam) {
  <app-exam-def-detail-view [entity-id]="examDefId$" [edit]="isEdit$" (created)="onCreated($event)"
  (changed)="onChanged($event)" (deleted)="onDeleted($event)"></app-exam-def-detail-view>
}
@if (printExam) {
  <app-exam-print [entity-id]="examDefId$"></app-exam-print>
}

<mat-divider class="not-printable"></mat-divider>

<mat-card class="not-printable">
  <mat-card-actions>
    @if (!isEdit$.value) {
      <button mat-raised-button color="primary" (click)="switchView()" data-testid="btnSwitchView"
        matTooltip="Enable Edit">
        <i class="material-icons"> edit </i></button>
      }
      @if (isEdit$.value) {
        <button mat-raised-button color="primary" (click)="switchView()" data-testid="btnSwitchView"
          matTooltip="Back to View-only">
          <i class="material-icons"> arrow_back </i></button>
        }
        <span class="spacer"></span>
        @if (!isEdit$.value) {
          <button mat-raised-button color="primary" (click)="createAssignment()" data-testid="btnCreateAssignment">
          Create Assignment</button>
        }
        <span class="spacer"></span>
        @if (!isEdit$.value) {
          <button mat-raised-button color="primary" (click)="togglePrint()" data-testid="btnPrintExam">
          Print Exam</button>
        }
      </mat-card-actions>
    </mat-card>