@if (summaries.length > 0) {
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Problem Summary
    </mat-panel-title>
    <mat-panel-description>
      Summary of {{problemTitle}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <mat-list>
    @for (data of summaries; track data) {
    <mat-list-item>
      <span class="w3-large" data-testid="answerByFullname">{{data.AnswerByFullname}}</span>
      <span class="label" data-testid="totalCount"> Total: {{data.TotalCount}}</span>
      <span class="label" data-testid="correctRatio"> Correct: {{data.CorrectCount}} ({{data.CorrectCount /
        data.TotalCount * 100 |
        number:'1.1-1'}}%)</span>
      <span class="label" data-testid="guessRatio"> Guess: {{data.GuessCount}} ({{data.GuessCount / data.TotalCount *
        100 |
        number:'1.1-1'}}%)</span>
      <span class="label" data-testid="guessCorrectRatio"> Guess and Correct: {{data.GuessCorrectCount}}
        ({{data.GuessCorrectCount / data.CorrectCount * 100 | number:'1.1-1'}}%)</span>
      <span class="label" data-testid="trueCorrectRatio"> True Correct Rate: {{data.TrueCorrectRate*100 |
        number:'1.1-1'}}%</span>
      <span class="label" data-testid="avgDuration"> Average Duration: {{data.TotalDuration / data.TotalCount |
        number:'1.1-1' }} seconds</span>
    </mat-list-item>
    }
  </mat-list>
</mat-expansion-panel>
}