<h3 class="page-title">Problem Editor</h3>
@if (problemEditorForm) {
  <form [formGroup]="problemEditorForm">
    <mat-card>
      <mat-card-content>
        <div>
          <div class="w3-row">
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Title</mat-label>
                <input matInput readonly formControlName="problemTitle" data-testid="problemTitle">
              </mat-form-field>
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Category</mat-label>
                <input matInput required [readonly]="!isNew" formControlName="problemCategory" data-testid="problemCategory">
              </mat-form-field>
              @if (submitted && p.get('problemCategory').errors) {
                <div class="invalid-feedback">
                  @if (p.get('problemCategory').errors.required) {
                    <div>{{messageTexts.required}}
                    </div>
                  }
                </div>
              }
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Year</mat-label>
                <input matInput [readonly]="!isNew" formControlName="problemYear" data-testid="problemYear">
              </mat-form-field>
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Number</mat-label>
                <input matInput [readonly]="!isNew" formControlName="problemNumber" data-testid="problemNumber">
              </mat-form-field>
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Answer</mat-label>
                <input matInput formControlName="problemAnswer" data-testid="problemAnswer">
              </mat-form-field>
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Tags</mat-label>
                <input matInput formControlName="problemTags" data-testid="problemTags">
              </mat-form-field>
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-form-field>
                <mat-label>Answer Options</mat-label>
                <input matInput formControlName="answerOptions" data-testid="answerOptions">
              </mat-form-field>
            </div>
            <div class="w3-col s6 m4 l2">
              <mat-checkbox formControlName="isStaging" data-testid="isStanging">Is Staging</mat-checkbox>
            </div>
          </div>
          <div class="w3-cell-row">
            <mat-form-field class="full-width">
              <mat-label>Problem Text</mat-label>
              <textarea matInput formControlName="problemText" data-testid="problemText"></textarea>
            </mat-form-field>
          </div>
          <mat-divider></mat-divider>
          <div class="w3-cell-row">
            <mat-form-field class="full-width">
              <mat-label>Solution Text</mat-label>
              <textarea matInput formControlName="solutionText" (blur)="onSolutionTextBlur($event)" data-testid="solutionText"></textarea>
            </mat-form-field>
          </div>
        </div>
        <mat-divider></mat-divider>
        @if (previewProblemText) {
          <div class="w3-cell-row">
            <h4>Preview Problem Text:</h4>
            <div [appMath]="previewProblemText" data-testid="previewProblemText"></div>
          </div>
        }
        <mat-divider></mat-divider>
        <div class="w3-cell-row">
          <h4>Problem Text in Base64:</h4>
          <div [innerHtml]="problem.ProblemTextBase64" data-testid="problemRichText"></div>
        </div>
        <mat-divider></mat-divider>
        @if (previewSolutionText) {
          <div class="w3-cell-row">
            <h4>Preview Solution Text:</h4>
            <div [appMath]="previewSolutionText" data-testid="solutionRichText"></div>
          </div>
        }
      </mat-card-content>
    </mat-card>
    <mat-divider></mat-divider>
    <mat-card>
      <mat-card-actions>
        <button type="submit" [disabled]="problemEditorForm.pristine" mat-raised-button color="primary"
          (click)="save()" data-testid="btnSave"><i class="material-icons"> save </i></button>
          <span class="spacer"></span>
          <button mat-raised-button color="primary" (click)="previewText()"><i class=" material-icons" data-testid="btnPreview"> preview
          </i></button>
          <span class="spacer"></span>
          <span class="spacer"></span>
          @if (!isNew) {
            <button mat-raised-button color="warn" (click)="delete()" data-testid="btnDelete">
              <i class="material-icons"> delete </i></button>
            }
          </mat-card-actions>
        </mat-card>
      </form>
    }