<form (ngSubmit)="search()">
    <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input matStartDate [(ngModel)]="startTime" name="startTime" placeholder="Start date">
          <input matEndDate [(ngModel)]="endTime" name="endTime" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      </mat-form-field>
    <button mat-icon-button><i class="material-icons"> search </i></button>
</form>

<div class="w3-panel">
    <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="w3-cell-row">
        <div class="w3-cell" *ngIf="dataSource.data && dataSource.data.length>0">
            Count of all records: {{dataSource.data.length}}
        </div>
    </div>
</div>

<div *ngIf="dataSource.data.length" class="w3-responsive">
    <table mat-table [dataSource]="dataSource" class="w3-table w3-striped w3-hoverable">

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button [color]="element.IsComplete?'':'primary'" (click)="createRunFromAssignment(element)">
                Do Assignment</button>
            </td>
        </ng-container>

        <ng-container matColumnDef="createTime">
            <th mat-header-cell *matHeaderCellDef> Create Time </th>
            <td mat-cell *matCellDef="let element"><a routerLink="/assignment/view/{{element.Id}}">{{element.CreateTime | date:'long'}}</a>
                </td>
        </ng-container>

        <ng-container matColumnDef="category">
            <th mat-header-cell *matHeaderCellDef> Category </th>
            <td mat-cell *matCellDef="let element">{{element.ExamCategory}}</td>
        </ng-container>

        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef> Title </th>
            <td mat-cell *matCellDef="let element"><a
                    routerLink="/examdef/view/{{element.ExamCategory}}/{{element.ExamTitle}}">{{element.ExamTitle}}</a>
            </td>
        </ng-container>

        <ng-container matColumnDef="complete">
            <th mat-header-cell *matHeaderCellDef> Complete? </th>
            <td mat-cell *matCellDef="let element"> {{element.IsComplete | booleanLikeToText }} </td>
        </ng-container>

        <ng-container matColumnDef="memo">
            <th mat-header-cell *matHeaderCellDef> Memo </th>
            <td mat-cell *matCellDef="let element"> {{element.Memo}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="w3-light-blue"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

</div>
<mat-paginator [length]="dataSource.data.length" [pageSize]="10" [showFirstLastButtons]="true"
    [pageSizeOptions]="[10,20,50]" [ngClass]="{'w3-hide':!dataSource.data.length}">
</mat-paginator>


<div class="w3-panel">
    <div class="w3-cell-row" style="width:30%">
        <ng-container *ngIf="loadMoreData">
            <div class="w3-container w3-cell">
                <button mat-icon-button color="primary" matTooltip="Load More" (click)="more()">
                    <span class="material-icons"> more </span></button>
            </div>
        </ng-container>
    </div>
</div>