<mat-card>
  <mat-card-title class="page-title">Upload Answers</mat-card-title>
  <mat-card-content>
    <div class="w3-row">

      <div class="w3-col s6 m4 l2">
        <mat-form-field floatLabel="auto">
          <mat-label>Problem Category</mat-label>
          <input matInput required [(ngModel)]="problemCategory" data-testid="problemCategory">
        </mat-form-field>
      </div>

      <div class="w3-col s6 m4 l2">
        <mat-form-field floatLabel="auto">
          <mat-label>Problem Year</mat-label>
          <input matInput required [(ngModel)]="problemYear" data-testid="problemYear">
        </mat-form-field>
      </div>

    </div>

    <div class="w3-row">
      <div class="w3-col s6 m4 l2">
        <mat-form-field floatLabel="auto">
          <mat-label>Answers</mat-label>
          <textarea rows="25" matInput required [(ngModel)]="answerKeys" data-testid="answerKeys"></textarea>
        </mat-form-field>
      </div>

      <div class="w3-col s6 m4 l2">
        <mat-form-field floatLabel="auto">
          <mat-label>Confirm Answers</mat-label>
          <textarea rows="25" matInput readonly [(ngModel)]="problemAnswersText"
            data-testid="problemAnswersText"></textarea>
        </mat-form-field>
      </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="generate()" data-testid="btnGenerate">Generate</button>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="cannotSave"
      data-testid="btnSave">Save</button>
  </mat-card-actions>
</mat-card>