<div class="w3-cell-row">
  <div class="w3-container w3-cell w3-cell-middle">

      <mat-card>
          <mat-card-subtitle>Change Password</mat-card-subtitle>
          <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
              <mat-card-content>
                  <div class="form-group">
                      <p><label for="oldPassword">Old Password</label></p>
                      <input type="password" formControlName="oldPassword" class="form-control"
                          [ngClass]="{ 'is-invalid': submitted && f.oldPassword.errors }" />
                      <div *ngIf="submitted && f.oldPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.oldPassword.errors.required">
                              Old Password is required</div>
                      </div>
                  </div>

                  <div class="form-group">
                    <p><label for="newPassword1">New Password</label></p>
                    <input type="password" formControlName="newPassword1" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.newPassword1.errors }" />
                    <div *ngIf="submitted && f.newPassword1.errors" class="invalid-feedback">
                        <div *ngIf="f.newPassword1.errors.required">
                            New Password is required</div>
                    </div>
                </div>

                <div class="form-group">
                  <p><label for="newPassword2">Repeat New Password</label></p>
                  <input type="password" formControlName="newPassword2" class="form-control"
                      [ngClass]="{ 'is-invalid': submitted && f.newPassword2.errors }" />
                  <div *ngIf="submitted && f.newPassword2.errors" class="invalid-feedback">
                      <div *ngIf="f.newPassword2.errors.required">
                          Require to repeat new password</div>
                  </div>
              </div>
              </mat-card-content>
              <mat-card-actions>
                  <div class="form-group">
                      <button mat-raised-button>Update</button>
                      <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
                  </div>
              </mat-card-actions>
          </form>
      </mat-card>

  </div>
</div>