<h3 class="page-title">{{isEdit?'Edit Exam Definition':'View Exam Definition'}}</h3>

@if (examEditorForm) {
<form [formGroup]="examEditorForm">
  <mat-card>
    <mat-card-content>
      @if (isEdit) {
      <div class="w3-cell-row">
        <mat-form-field class="w3-container w3-cell">
          <mat-label>Exam Category</mat-label>
          <mat-select formControlName="ExamCategory" data-testid="examCategory">
            @for (code of categories; track code) {
            <mat-option [value]="code.Code">
              {{code.Description}}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w3-container w3-cell" style="width:30%">
          <mat-label>Exam Title</mat-label>
          <input matInput required [readonly]="!isNew" formControlName="ExamTitle" data-testid="examTitle">
        </mat-form-field>
      </div>
      <div class="w3-cell-row">
        <div class="w3-container w3-cell w3-cell-middle">
          <mat-checkbox formControlName="Active" data-testid="examStatus">Active</mat-checkbox>
        </div>
        <mat-form-field class="w3-container w3-cell">
          <mat-label>Year</mat-label>
          <input matInput formControlName="ExamYear" data-testid="examYear">
        </mat-form-field>
        <mat-form-field class="w3-container w3-cell">
          <mat-label>Exam Type</mat-label>
          <mat-select formControlName="ExamType" data-testid="examType">
            <mat-option value="O">Official</mat-option>
            <mat-option value="H">Practice</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="w3-container w3-cell">
          <mat-label>Memo</mat-label>
          <input matInput formControlName="Memo" data-testid="memo">
        </mat-form-field>
      </div>
      }
      @if (!isEdit) {
      <div class="w3-cell-row">
        <div class="w3-container w3-cell w3-large w3-mobile" data-testid="examTitle">
          <span class="label">Exam Title: </span>
          <span>{{examEditorForm.get('ExamTitle').value}}</span>
        </div>
        <div class="w3-container w3-cell w3-mobile" data-testid="examCategory">
          <span class="label">Exam Category: </span>
          <span>{{examEditorForm.get('ExamCategory').value}}</span>
        </div>
        <div class="w3-container w3-cell w3-mobile" data-testid="examYear">
          <span class="label">Year: </span>
          <span>{{examEditorForm.get('ExamYear').value}}</span>
        </div>
        <div class="w3-container w3-cell w3-mobile" data-testid="examType">
          <span class="label">Exam Type: </span>
          <span>{{examEditorForm.get('ExamType').value==='O'?'Official':'Practice'}}</span>
        </div>
        <div class="w3-container w3-cell w3-mobile" data-testid="memo">
          <span class="label">Memo: </span>
          <span>{{examEditorForm.get('Memo').value}}</span>
        </div>
        <div class="w3-container w3-cell w3-mobile" data-testid="examStatus">
          <span class="label">Active: </span>
          <span>{{examEditorForm.get('Active').value | booleanLikeToText}}</span>
        </div>
      </div>
      }
      <mat-divider></mat-divider>
      <h4>Exam Details</h4>
      @for (_ of details.controls; track _; let i = $index) {
      @if (i%4===0) {
      <div [ngClass]="{'w3-row':true, 'w3-light-grey':(i/5)%2===0}" data-testid="examDetailRow">
        @for (j of [0,1,2,3]; track j) {
        @if (details.controls.at(i+j)) {
        <div class="w3-container w3-col l3 w3-center w3-card" data-testid="problem">
          <span data-testid="problemTitle"> <a
              routerLink="/problem/view/{{details.controls.at(i+j).get('ProblemTitle').value}}">
              {{details.controls.at(i+j).get('ProblemTitle').value}}</a></span>
          <span class="spacer"></span>
          @if (isEdit) {
          <button mat-icon-button color="warn" (click)="deleteDetail(i+j)" data-testid="btnDelete">
            <i class="material-icons"> delete </i></button>
          }
        </div>
        }
        }
      </div>
      }
      }
    </mat-card-content>
    @if (isEdit) {
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="add(0)" matTooltip="Add Problems"
        data-testid="btnAddProblems"><i class="material-icons">
          add_circle </i></button>
      <span class="spacer"></span>
      <button mat-raised-button color="primary" (click)="add(1)" matTooltip="Add Problems From Historical Data"
        data-testid="btnAddProblemsFromHistory"><i class="material-icons"> note_add </i></button>
      <span class="spacer"></span>
      <button type="submit" [disabled]="examEditorForm.pristine" mat-raised-button color="primary" (click)="save()"
        matTooltip="Save" data-testid="btnSave"><i class="material-icons"> save </i></button>
      <span class="spacer"></span>
      <span class="spacer"></span>
      @if (!isNew) {
      <button mat-raised-button color="warn" (click)="delete()" matTooltip="Delete" data-testid="btnDelete">
        <i class="material-icons"> delete </i></button>
      }
    </mat-card-actions>
    }
  </mat-card>
</form>
}