<form (ngSubmit)="search()">
  <mat-form-field>
    <mat-label>Keyword</mat-label>
    <input type="search" matInput placeholder="category-year-number" [(ngModel)]="keyword" name="keyword" data-testid="keyword">
  </mat-form-field>
  <button mat-icon-button data-testid="btnSearch"><i class="material-icons"> search </i></button>
</form>

<div class="w3-panel">
  <div class="w3-row">
    @if (data && data.length>0) {
      <div class="w3-col m4 l4" data-testid="countOfRecord">
        Count of all records: {{data.length}}
      </div>
    }
    @if (selectedIds && selectedIds.length>0) {
      <div class="w3-col m5 l4" data-testid="countOfSelectedRecord">
        Count of selected records: {{selectedIds.length}}
      </div>
    }
  </div>
</div>

@for (_ of data; track _; let i = $index) {
  @if (i%5===0) {
    <div [ngClass]="{'w3-cell-row':true, 'w3-light-grey':(i/5)%2===0}" data-testid="problemRow">
      @for (j of [0,1,2,3,4]; track j) {
        @if (data[i+j]) {
          <div class="w3-container w3-cell w3-center w3-card">
            @if (isSelectable) {
              <mat-checkbox (change)="toggle(data[i+j])" [checked]="isChecked(data[i+j])" data-testid="problemTitle">
                <span>{{data[i+j].ProblemTitle}}</span>
              </mat-checkbox>
            }
            @if (!isSelectable) {
              <span data-testid="problemTitle"><a routerLink="/problem/view/{{data[i+j].ProblemTitle}}">{{data[i+j].ProblemTitle}}</a></span>
            }
          </div>
        }
      }
    </div>
  }
}

<div class="w3-panel">
  <div class="w3-cell-row">
    @if (loadMoreData) {
      <div class="w3-container w3-cell">
        <button mat-icon-button color="primary" matTooltip="Load More" (click)="more()" data-testid="btnMore">
          <span class="material-icons"> more </span></button>
        </div>
      }
      @if (isSelectable && data.length>0) {
        <div class="w3-container w3-cell">
          <mat-slide-toggle (click)="toggleAll()" data-testid="btnSelectAll">Select All</mat-slide-toggle>
        </div>
      }
    </div>
  </div>