<form (ngSubmit)="search()">
  <mat-form-field>
    <mat-label>Exam Category</mat-label>
    <mat-select [(ngModel)]="category" name="category" (selectionChange)="onCategoryChange($event)"
      data-testid="category">
      @for (code of categories; track code) {
      <mat-option [value]="code.Code">
        {{code.Description}}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <span class="spacer">&nbsp;&nbsp;</span>
  <mat-form-field>
    <mat-label>Keyword</mat-label>
    <input type="search" matInput placeholder="exam title" [(ngModel)]="keyword" name="keyword" data-testid="keyword">
  </mat-form-field>
  <button mat-icon-button data-testid="btnSearch"><i class="material-icons"> search </i></button>
</form>

<div class="w3-panel">
  <div class="w3-row">
    @if (dataSource.data && dataSource.data.length>0) {
    <div class="w3-col m4 l4" data-testid="countOfRecord">
      Count of all records: {{dataSource.data.length}}
    </div>
    }
    @if (selected && selected.length>0) {
    <div class="w3-col m5 l4" data-testid="countOfSelectedRecord">
      Count of selected records: {{selected.length}}
    </div>
    }
  </div>
</div>

@if (dataSource.data.length) {
<div class="w3-responsive">
  <table mat-table [dataSource]="dataSource" class="w3-table w3-striped w3-hoverable">
    @if (isSelectable) {
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef> Select </th>
      <td mat-cell *matCellDef="let exam">
        <mat-checkbox (change)="toggle(exam)" [checked]="isChecked(exam)" data-testid="toggleSelect"> </mat-checkbox>
      </td>
    </ng-container>
    }
    <ng-container matColumnDef="category">
      <th mat-header-cell *matHeaderCellDef> Category </th>
      <td mat-cell *matCellDef="let exam" data-testid="examCategory">{{exam.ExamCategory}}</td>
    </ng-container>
    <ng-container matColumnDef="year">
      <th mat-header-cell *matHeaderCellDef> Year </th>
      <td mat-cell *matCellDef="let exam" data-testid="examYear"> {{exam.ExamYear}} </td>
    </ng-container>
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let exam" data-testid="examTitle">
        <a routerLink="/examdef/view/{{exam.ExamCategory}}/{{exam.ExamTitle}}">{{exam.ExamTitle}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Type </th>
      <td mat-cell *matCellDef="let exam" data-testid="examType"> {{exam.ExamType==='O'?'Official':"Practice"}} </td>
    </ng-container>
    <ng-container matColumnDef="active">
      <th mat-header-cell *matHeaderCellDef> Active? </th>
      <td mat-cell *matCellDef="let exam" data-testid="examStatus"> {{exam.Active | booleanLikeToText }} </td>
    </ng-container>
    <ng-container matColumnDef="memo">
      <th mat-header-cell *matHeaderCellDef> Memo </th>
      <td mat-cell *matCellDef="let exam" data-testid="memo"> {{exam.Memo}}
      </td>
    </ng-container>
    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count of Problems </th>
      <td mat-cell *matCellDef="let exam" data-testid="countOfProblems"> {{exam.ExamDetails.length}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="w3-light-blue"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
}
<mat-paginator [length]="dataSource.data.length" [pageSize]="10" [showFirstLastButtons]="true"
  [pageSizeOptions]="[10,20,50]" [ngClass]="{'w3-hide':!dataSource.data.length}">
</mat-paginator>


<div class="w3-panel">
  <div class="w3-cell-row" style="width:30%">
    @if (loadMoreData) {
    <div class="w3-container w3-cell">
      <button mat-icon-button color="primary" matTooltip="Load More" (click)="more()" data-testid="btnMore">
        <span class="material-icons"> more </span></button>
    </div>
    }
    @if (isSelectable && dataSource.data.length>0) {
    <div class="w3-container w3-cell">
      <mat-slide-toggle (click)="toggleAll()" data-testid="btnSelectAll">Select All</mat-slide-toggle>
    </div>
    }
  </div>
</div>