<form (ngSubmit)="search()">
  <mat-form-field>
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate [(ngModel)]="startTime" name="startTime" placeholder="Start date" data-testid="startDate">
      <input matEndDate [(ngModel)]="endTime" name="endTime" placeholder="End date" data-testid="endDate">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  <button mat-icon-button><i class="material-icons" data-testid="btnSearch"> search </i></button>
</form>

<div class="w3-panel">
  <div class="w3-cell-row">
    @if (dataSource.data && dataSource.data.length>0) {
      <div class="w3-cell" data-testid="countOfRecord">
        Count of all records: {{dataSource.data.length}}
      </div>
    }
  </div>
</div>

@if (dataSource.data.length) {
  <div class="w3-responsive">
    <table mat-table [dataSource]="dataSource" class="w3-table w3-striped w3-hoverable">
      <ng-container matColumnDef="examCategory">
        <th mat-header-cell *matHeaderCellDef> Exam Category </th>
        <td mat-cell *matCellDef="let element" data-testid="examCategory">{{element.ExamCategory}}</td>
      </ng-container>
      <ng-container matColumnDef="examTitle">
        <th mat-header-cell *matHeaderCellDef> Exam Title </th>
        <td mat-cell *matCellDef="let element" data-testid="examTitle"><a
        routerLink="/examrun/view/{{element.Id}}">{{element.ExamTitle}}</a>
      </td>
    </ng-container>
    <ng-container matColumnDef="cntAllProblem">
      <th mat-header-cell *matHeaderCellDef> #Problems </th>
      <td mat-cell *matCellDef="let element" data-testid="totalCount"> {{element.TotalCount}} </td>
    </ng-container>
    <ng-container matColumnDef="cntCorrect">
      <th mat-header-cell *matHeaderCellDef> #Correct </th>
      <td mat-cell *matCellDef="let element" data-testid="correctCount"> {{element.CorrectCount}} </td>
    </ng-container>
    <ng-container matColumnDef="startTime">
      <th mat-header-cell *matHeaderCellDef> Start Time </th>
      <td mat-cell *matCellDef="let element" data-testid="startTime"> @if (element.StartTime) {
        <span>{{element.StartTime | date:'long'
        }}</span>
      } </td>
    </ng-container>
    <ng-container matColumnDef="completeTime">
      <th mat-header-cell *matHeaderCellDef> Complete Time </th>
      <td mat-cell *matCellDef="let element" data-testid="completeTime"> @if (element.CompleteTime) {
        <span>{{element.CompleteTime |
        date:'long' }}</span>
      } </td>
    </ng-container>
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef> Duration(S) </th>
      <td mat-cell *matCellDef="let element" data-testid="totalDuration"> @if (element.TotalDuration) {
        <span>{{element.TotalDuration | number:'1.0-0'
        }} </span>
      } </td>
    </ng-container>
    <ng-container matColumnDef="answerBy">
      <th mat-header-cell *matHeaderCellDef> Answered By </th>
      <td mat-cell *matCellDef="let element" data-testid="answerBy"> @if (element.AnswerBy) {
        <span>{{element.AnswerByFullname }} </span>
      }
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="w3-light-blue"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
}
<mat-paginator [length]="dataSource.data.length" [pageSize]="10" [showFirstLastButtons]="true"
  [pageSizeOptions]="[10,20,50]" [ngClass]="{'w3-hide':!dataSource.data.length}">
</mat-paginator>


<div class="w3-panel">
  <div class="w3-cell-row" style="width:30%">
    @if (loadMoreData) {
      <div class="w3-container w3-cell">
        <button mat-icon-button color="primary" matTooltip="Load More" (click)="more()" data-testid="btnMore">
          <span class="material-icons"> more </span></button>
        </div>
      }
    </div>
  </div>