@if (readyToRender) {
  <div>
    <!-- <h3>{{examDefId$.value.ExamCategory}} - {{examDefId$.value.ExamTitle}}</h3> -->
    @for (problemTitle$ of problemTitles$; track problemTitle$; let i = $index) {
      <div class="w3-container w3-cell-row no-break" data-testid="problem">
        <h5 data-testid="problemTitle">[{{i+1}}] - {{problemTitle$.value}}</h5>
        <app-problem-detail-view display-all="false" [problem-title]="problemTitle$"></app-problem-detail-view>
      </div>
    }
  </div>
}
<!-- <p>
<button *ngIf="readyToRender" (click)="print()" mat-icon-button matTooltip="Print">
  <i class="material-icons"> print </i></button>
</p> -->