<h3 class="page-title">List Exam Summaries</h3>
@if (dataSource.data.length) {
<div class="w3-responsive">
  <table mat-table [dataSource]="dataSource" class="w3-table w3-striped w3-hoverable" data-testid="examSummaries">
    <ng-container matColumnDef="examCategory">
      <th mat-header-cell *matHeaderCellDef>Problem Category</th>
      <td mat-cell *matCellDef="let element" data-testid="problemCategory"><span>{{element.ProblemCategory}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="answerBy">
      <th mat-header-cell *matHeaderCellDef> Answered By </th>
      <td mat-cell *matCellDef="let element" data-testid="answerByFullname"> <span>{{element.AnswerByFullname}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="cntAll">
      <th mat-header-cell *matHeaderCellDef> Count of All </th>
      <td mat-cell *matCellDef="let element" data-testid="totalCount"><span>{{element.TotalCount}}</span> </td>
    </ng-container>
    <ng-container matColumnDef="cntCorrect">
      <th mat-header-cell *matHeaderCellDef> Correct</th>
      <td mat-cell *matCellDef="let element" data-testid="correctRatio">
        <span>{{element.CorrectCount}} ({{element.CorrectCount / element.TotalCount * 100 |
          number:'1.1-1'}}%)</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="cntGuess">
      <th mat-header-cell *matHeaderCellDef> Guess</th>
      <td mat-cell *matCellDef="let element" data-testid="guessRatio">
        <span>{{element.GuessCount}} ({{element.GuessCount / element.TotalCount * 100 |
          number:'1.1-1'}}%)</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="cntGuessCorrect">
      <th mat-header-cell *matHeaderCellDef> Guess Correct</th>
      <td mat-cell *matCellDef="let element" data-testid="guessCorrectRatio">
        <span>{{element.GuessCorrectCount}} ({{element.GuessCorrectCount / element.CorrectCount * 100 |
          number:'1.1-1'}}%)</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="averageDuration">
      <th mat-header-cell *matHeaderCellDef> Avg. Duration (s)</th>
      <td mat-cell *matCellDef="let element" data-testid="avgDuration">
        <span>{{element.TotalDuration / element.TotalCount | number:'1.1-1' }}</span>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="w3-light-blue"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
}
<mat-paginator [length]="dataSource.data.length" [pageSize]="10" [showFirstLastButtons]="true"
  [pageSizeOptions]="[10,20,50]" [ngClass]="{'w3-hide':!dataSource.data.length}">
</mat-paginator>