<mat-card>
    <mat-card-title>Query Problems from historical data</mat-card-title>
    <mat-card-actions>
        <div class="w3-cell">
            <button mat-raised-button color="primary" matTooltip="Select and Close" (click)="select()">
                <span class="material-icons"> check_circle </span></button>
        </div>
        <span class="spacer"></span>
        <div class="w3-cell">
            <button mat-raised-button color="primary" matTooltip="Cancel" (click)="close()">
                <span class="material-icons"> cancel </span></button>
        </div>
    </mat-card-actions>
    <mat-card-content>
        <app-problem-summary-list-view pagination="false" is-selectable="true" [category]="category" [keyword]="keyword" ></app-problem-summary-list-view>
    </mat-card-content>
</mat-card>