<mat-card>
    <mat-card-title>Query Exam Definitions</mat-card-title>
    <mat-card-content>
        <app-exam-def-list-view is-selectable="true" pagination="false" [category]="category" [keyword]="keyword" [active-only]="activeOnly"></app-exam-def-list-view>
    </mat-card-content>
    <mat-card-actions>
        <div class="w3-cell">
            <button mat-raised-button color="primary" matTooltip="Select and Close" (click)="select()">
                <span class="material-icons"> check_circle </span></button>
        </div>
        <span class="spacer"></span>
        <div class="w3-cell">
            <button mat-raised-button color="primary" matTooltip="Cancel" (click)="close()">
                <span class="material-icons"> cancel </span></button>
        </div>
    </mat-card-actions>
</mat-card>